* {
    font-family: "Helvetica", "Open Sans", "Calibri", "Arial", sans-serif;
}

.container {
    display: flex;
    flex-direction: row; /* Default: sidebar on the left */
    align-items: flex-start;
}

.sidebar {
    width: 20%; /* Default width */
    min-width: 200px;
}

.content {
    flex: 1; /* Takes remaining space */
    padding: 20px;
}

/* Responsive: Move sidebar above content on small screens */
@media (max-width: 768px) { /* Adjusts for smaller screens */
    .container {
        flex-direction: column; /* Stack items vertically */
    }

    .sidebar {
        width: 100%; /* Full width */
        text-align: left;
    }
}

#language-switch {
    text-align: center;
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}

#language-switch a {
    color: lightgray;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
}

#language-switch a:hover {
    color: white;
}

