<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
	<link rel="icon" href="{{ site.baseurl }}/assets/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
			<div id="language-switch">
				<a href="{{ site.baseurl }}/es/">🇪🇸 Español</a> | <a href="{{ site.baseurl }}/en/">🇬🇧 English</a>
			</div>
				<div style="text-align: center;">
				<img src="{{ site.baseurl }}/assets/avatar.jpg" width="100" height="100" style="border-radius: 50%;">
			</div>
            {{ page.sidebar | markdownify }}
        </aside>
		<main class="content">
			{{ content }}
		</main>
    </div>
</body>
</html>
